In [1]:
import pandas as pd

In [9]:
df=pd.read_csv("C:/Users/hp/Downloads/HDFCBANK.NS.csv")

In [28]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-07-30,1074.000000,1083.650024,1046.699951,1050.650024,1046.122437,13478133.0
1,2020-07-31,1057.699951,1057.699951,1020.049988,1032.800049,1028.349365,18863348.0
2,2020-08-03,1025.949951,1026.949951,993.000000,1002.000000,997.682007,15891771.0
3,2020-08-04,1008.000000,1061.050049,1003.000000,1041.650024,1037.161133,30153084.0
4,2020-08-05,1047.949951,1055.800049,1020.000000,1027.550049,1023.121948,16610680.0
...,...,...,...,...,...,...,...
246,2021-07-26,1430.000000,1444.000000,1428.099976,1434.550049,1434.550049,6583583.0
247,2021-07-27,1436.099976,1449.900024,1436.099976,1439.750000,1439.750000,11200715.0
248,2021-07-28,1435.050049,1438.699951,1404.000000,1417.300049,1417.300049,10335171.0
249,2021-07-29,1428.250000,1429.949951,1413.300049,1418.250000,1418.250000,6851115.0
250,2021-07-30,1419.000000,1431.750000,1407.949951,1426.449951,1426.449951,5823664.0

In [8]:
df1=pd.read_excel("D:/Data Science Course/SalesData.xlsx")
df1.head()

KeyboardInterrupt:

In [11]:
df['Close']
df.Close

0      1050.650024
1      1032.800049
2      1002.000000
3      1041.650024
4      1027.550049
          ...
246    1434.550049
247    1439.750000
248    1417.300049
249    1418.250000
250    1426.449951
Name: Close, Length: 251, dtype: float64

In [12]:
df.iloc[4]

Date          2020-08-05
Open             1047.95
High              1055.8
Low                 1020
Close            1027.55
Adj Close        1023.12
Volume       1.66107e+07
Name: 4, dtype: object

In [13]:
df['Close'].dtype

dtype('float64')

In [18]:
df['Open'].dtype

dtype('float64')

In [15]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [16]:
df.shape

(251, 7)

In [20]:
df.ndim

2

In [21]:
df['Close'].min()

1002.0

In [22]:
df['Close'].max()

1626.650024

In [23]:
df['Close'].std()

169.62915720824137

In [24]:
df['Close'].mean()

1369.2813999120006

In [27]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,250.000000,250.000000,250.000000,250.000000,250.000000,2.500000e+02
mean,1370.487000,1384.915599,1353.290201,1369.281400,1363.967307,1.001880e+07
std,170.245453,170.985441,168.807721,169.629157,169.294336,4.178783e+06
min,1008.000000,1026.949951,993.000000,1002.000000,997.682007,2.585314e+06
25%,1230.000031,1242.187500,1205.674988,1233.149994,1227.835938,7.197760e+06
50%,1428.625000,1439.199951,1406.900024,1423.775024,1418.579529,9.614380e+06
75%,1492.675018,1503.450012,1478.474976,1489.862488,1484.798828,1.186836e+07
max,1621.199951,1641.000000,1608.449951,1626.650024,1619.640259,3.015308e+07

In [32]:
df.dropna(inplace=True)   #this is permanant change
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-07-30,1074.000000,1083.650024,1046.699951,1050.650024,1046.122437,13478133.0
1,2020-07-31,1057.699951,1057.699951,1020.049988,1032.800049,1028.349365,18863348.0
2,2020-08-03,1025.949951,1026.949951,993.000000,1002.000000,997.682007,15891771.0
3,2020-08-04,1008.000000,1061.050049,1003.000000,1041.650024,1037.161133,30153084.0
4,2020-08-05,1047.949951,1055.800049,1020.000000,1027.550049,1023.121948,16610680.0
...,...,...,...,...,...,...,...
246,2021-07-26,1430.000000,1444.000000,1428.099976,1434.550049,1434.550049,6583583.0
247,2021-07-27,1436.099976,1449.900024,1436.099976,1439.750000,1439.750000,11200715.0
248,2021-07-28,1435.050049,1438.699951,1404.000000,1417.300049,1417.300049,10335171.0
249,2021-07-29,1428.250000,1429.949951,1413.300049,1418.250000,1418.250000,6851115.0
250,2021-07-30,1419.000000,1431.750000,1407.949951,1426.449951,1426.449951,5823664.0

In [33]:
df[df['Close']>1620]

,Date,Open,High,Low,Close,Adj Close,Volume
139,2021-02-16,1621.199951,1641.0,1608.449951,1626.650024,1619.640259,6948679.0

In [35]:
df2=pd.read_csv("C:/Users/hp/Downloads/adult_csv.csv")
df2.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K

In [37]:
gr=df2.groupby(df2['workclass'])
gr

In [49]:
df_male=df2[df2['sex']=='Male']
df[:30]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-07-30,1074.000000,1083.650024,1046.699951,1050.650024,1046.122437,13478133.0
1,2020-07-31,1057.699951,1057.699951,1020.049988,1032.800049,1028.349365,18863348.0
2,2020-08-03,1025.949951,1026.949951,993.000000,1002.000000,997.682007,15891771.0
3,2020-08-04,1008.000000,1061.050049,1003.000000,1041.650024,1037.161133,30153084.0
4,2020-08-05,1047.949951,1055.800049,1020.000000,1027.550049,1023.121948,16610680.0
5,2020-08-06,1037.000000,1055.000000,1026.250000,1040.699951,1036.215210,16823444.0
6,2020-08-07,1034.849976,1047.199951,1020.599976,1043.849976,1039.351685,12418392.0
7,2020-08-10,1044.000000,1064.000000,1043.800049,1050.650024,1046.122437,11086427.0
8,2020-08-11,1048.500000,1071.000000,1048.500000,1066.650024,1062.053467,10068074.0
9,2020-08-12,1065.000000,1066.000000,1048.000000,1063.699951,1059.116089,10333216.0
10,2020-08-13,1067.949951,1071.349976,1056.500000,1059.050049,1054.486206,9946370.0
11,2020-08-14,1065.900024,1065.900024,1027.300049,1034.449951,1029.992188,10462256.0
12,2020-08-17,1047.000000,1047.000000,1020.200012,1032.750000,1028.299561,9780506.0
13,2020-08-18,1028.000000,1061.650024,1022.000000,1056.500000,1051.947144,12020412.0
14,2020-08-19,1065.000000,1069.800049,1056.250000,1066.599976,1062.003662,8857812.0
15,2020-08-20,1054.949951,1068.949951,1052.000000,1059.000000,1054.436401,9608367.0
16,2020-08-21,1065.400024,1088.800049,1064.599976,1085.650024,1080.971558,14462151.0
17,2020-08-24,1086.000000,1122.949951,1085.650024,1117.050049,1112.236328,18389870.0
18,2020-08-25,1119.000000,1127.000000,1106.199951,1119.699951,1114.874756,13800869.0
19,2020-08-26,1121.000000,1131.750000,1109.500000,1118.449951,1113.630127,12595031.0
20,2020-08-27,1125.800049,1129.900024,1106.250000,1112.099976,1107.307495,10322998.0
21,2020-08-28,1111.949951,1125.000000,1095.000000,1114.500000,1109.697266,19348305.0
22,2020-08-31,1129.500000,1148.800049,1100.699951,1115.849976,1111.041382,19250583.0
23,2020-09-01,1128.000000,1143.599976,1108.000000,1127.300049,1122.442139,14438942.0
24,2020-09-02,1124.099976,1139.000000,1120.699951,1134.150024,1129.262573,9880841.0
25,2020-09-03,1137.250000,1145.949951,1128.000000,1130.900024,1126.026611,9916681.0
26,2020-09-04,1110.000000,1125.400024,1104.400024,1119.300049,1114.476563,11830685.0
27,2020-09-07,1116.300049,1119.500000,1099.000000,1110.500000,1105.714478,8807733.0
28,2020-09-08,1114.000000,1118.800049,1103.000000,1112.449951,1107.656006,7312459.0
29,2020-09-09,1101.000000,1110.000000,1091.250000,1096.500000,1091.774780,7864436.0

In [42]:
df.iloc[10:50,2:5]

           High          Low        Close
10  1071.349976  1056.500000  1059.050049
11  1065.900024  1027.300049  1034.449951
12  1047.000000  1020.200012  1032.750000
13  1061.650024  1022.000000  1056.500000
14  1069.800049  1056.250000  1066.599976
15  1068.949951  1052.000000  1059.000000
16  1088.800049  1064.599976  1085.650024
17  1122.949951  1085.650024  1117.050049
18  1127.000000  1106.199951  1119.699951
19  1131.750000  1109.500000  1118.449951
20  1129.900024  1106.250000  1112.099976
21  1125.000000  1095.000000  1114.500000
22  1148.800049  1100.699951  1115.849976
23  1143.599976  1108.000000  1127.300049
24  1139.000000  1120.699951  1134.150024
25  1145.949951  1128.000000  1130.900024
26  1125.400024  1104.400024  1119.300049
27  1119.500000  1099.000000  1110.500000
28  1118.800049  1103.000000  1112.449951
29  1110.000000  1091.250000  1096.500000
30  1104.849976  1084.000000  1090.550049
31  1104.849976  1071.000000  1078.650024
32  1094.000000  1052.349976  1057.949951
33  1076.150024  1058.099976  1070.500000
34  1096.000000  1068.349976  1093.650024
35  1094.000000  1078.000000  1083.599976
36  1092.199951  1047.199951  1057.300049
37  1071.349976  1041.500000  1049.300049
38  1058.150024  1029.500000  1035.400024
39  1055.000000  1034.349976  1047.250000
40  1047.000000  1025.000000  1030.400024
41  1051.949951  1025.650024  1044.000000
42  1059.000000  1042.650024  1054.199951
43  1069.900024  1051.000000  1062.550049
44  1086.900024  1052.000000  1078.599976
45  1110.000000  1090.099976  1106.949951
46  1132.000000  1111.000000  1114.349976
47  1148.000000  1126.199951  1144.099976
48  1164.849976  1137.599976  1162.250000
49  1203.000000  1163.349976  1191.800049

In [44]:
df.sort_values(by='Close')

,Date,Open,High,Low,Close,Adj Close,Volume
2,2020-08-03,1025.949951,1026.949951,993.000000,1002.000000,997.682007,15891771.0
4,2020-08-05,1047.949951,1055.800049,1020.000000,1027.550049,1023.121948,16610680.0
40,2020-09-24,1038.000000,1047.000000,1025.000000,1030.400024,1025.959717,9904755.0
12,2020-08-17,1047.000000,1047.000000,1020.200012,1032.750000,1028.299561,9780506.0
1,2020-07-31,1057.699951,1057.699951,1020.049988,1032.800049,1028.349365,18863348.0
...,...,...,...,...,...,...,...
146,2021-02-25,1609.750000,1636.250000,1602.000000,1606.400024,1599.477417,10054785.0
145,2021-02-24,1526.500000,1613.949951,1516.250000,1606.449951,1599.527222,7157166.0
134,2021-02-09,1610.000000,1628.000000,1586.699951,1611.849976,1604.903931,9210683.0
138,2021-02-15,1600.099976,1625.000000,1596.699951,1616.599976,1609.633423,5177622.0
139,2021-02-16,1621.199951,1641.000000,1608.449951,1626.650024,1619.640259,6948679.0